.body{
    background-color: aquamarine;
}

#botton_mustang{
    background-color: silver;

}

#botton_mustang:hover{
    background-color: aqua;
}

#botton_supra{
    background-color: orange;
}

#botton_supra:hover{
    background-color: red;
}

#botton_camaro{
    background-color: blue;
}

#botton_camaro:hover{
    background-color: black;
}


#botton_celica{
    background-color: purple;
}

#botton_celica:hover{
    background-color: rebeccapurple;
}